body {
  min-height: 100vh;
}

main {
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

section {
  padding: 0 25px;
}
@media (min-width: 768px) {
  section {
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  section {
    padding: 0 25px;
  }
}
@media (min-width: 1366px) {
  section {
    padding: 0 70px;
  }
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #202124;
  letter-spacing: -0.02em;
  text-align: center;
}
@media (min-width: 550px) {
  .title {
    font-size: 30px;
    line-height: 45px;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 38px;
    line-height: 52px;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 44px;
    line-height: 52px;
  }
}

.underline {
  position: relative;
  cursor: pointer;
}
.underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(153, 9, 227, 0.5);
  transition: 0.25s ease-in-out;
}
.underline:hover:after {
  background-color: transparent;
}

.content-container {
  width: 100%;
  max-width: 1145px;
  margin: 0 auto;
}

.VueCarousel {
  height: 100%;
}
.VueCarousel .VueCarousel-wrapper {
  height: 100%;
}
.VueCarousel .VueCarousel-inner {
  min-height: 100%;
}
.VueCarousel .VueCarousel-navigation {
  position: absolute;
  width: 150px;
  right: calc((100% - 150px) / 2);
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
@media (min-width: 550px) {
  .VueCarousel .VueCarousel-navigation {
    width: 130px;
    right: 30px;
  }
}
@media (min-width: 768px) {
  .VueCarousel .VueCarousel-navigation {
    right: 45px;
  }
}
@media (min-width: 1200px) {
  .VueCarousel .VueCarousel-navigation {
    right: 30px;
  }
}
@media (min-width: 1366px) {
  .VueCarousel .VueCarousel-navigation {
    right: 75px;
    bottom: 20px;
  }
}
.VueCarousel .VueCarousel-navigation-button {
  position: static;
  transform: unset;
  width: 56px;
  height: 56px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  outline: none;
}
.VueCarousel .VueCarousel-navigation-button:focus {
  outline: none;
}
.VueCarousel .VueCarousel-navigation-button:hover {
  background-color: #990ae3;
}
.VueCarousel .VueCarousel-navigation-button .icon {
  transition: background 0.25s ease-in-out;
}
.VueCarousel .VueCarousel-navigation-button:hover .icon__prev {
  background: url("../image/icon/icon__prev_hover.svg") no-repeat center;
}
.VueCarousel .VueCarousel-navigation-button:hover .icon__next {
  background: url("../image/icon/icon__next_hover.svg") no-repeat center;
}
.VueCarousel .VueCarousel-pagination {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 550px) {
  .VueCarousel .VueCarousel-pagination {
    bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .VueCarousel .VueCarousel-pagination {
    bottom: 20px;
  }
}
.VueCarousel .VueCarousel-pagination * {
  margin: 0 !important;
  outline: none;
}
.VueCarousel .VueCarousel-pagination *:focus {
  outline: none;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
@media (min-width: 550px) {
  .advantages__list {
    grid-column-gap: 20px;
    grid-row-gap: 60px;
  }
}
@media (min-width: 768px) {
  .advantages__list {
    grid-template-columns: 1fr 1fr;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 550px) {
  .advantages__item {
    flex-direction: row;
    text-align: left;
    align-items: unset;
  }
}
.advantages__image {
  width: 80px;
  height: 80px;
  border: 2px solid #e8edf0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 550px) {
  .advantages__image {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) {
  .advantages__image {
    width: 80px;
    height: 80px;
  }
}
.advantages__text {
  color: #000;
  width: 100%;
}
@media (min-width: 550px) {
  .advantages__text {
    width: calc(100% - 50px - 15px);
  }
}
@media (min-width: 768px) {
  .advantages__text {
    width: calc(100% - 80px - 15px);
    margin-left: 15px;
  }
}
.advantages__text h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
}
@media (min-width: 550px) {
  .advantages__text h4 {
    font-size: 15px;
    line-height: 15px;
  }
}
@media (min-width: 768px) {
  .advantages__text h4 {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1024px) {
  .advantages__text h4 {
    font-size: 22px;
    line-height: 27px;
    margin-top: 0;
  }
}
.advantages__text p {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 1024px) {
  .advantages__text p {
    margin-top: 16px;
    font-size: 15px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=common.css.map */
